@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 10;
}

body {
    font-family: 'Poppins' ,sans-serif;
}

h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 700;
}

h2 {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

h3 {
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
}

h4 {
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
}

h5 {
    color: white;
    font-size: 1rem;
    font-weight: 400;
}

h6 {
    color: #d8d8d8;
}

/* Navbar */
.navbar {
    font-size: 16px;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    top:0;
    left: 0;
    box-shadow: 0 5px 10px rgba(0,0,0,0,1);
    display: flex;
}
.navbar-brand {
    margin-left: 100px;
}

.nav-buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0 20px;
    color: #000;
    transition: 0.5s ease;
}

.navbar-nav .nav-link:hover {
    color: #1458b1;
}

.container-fluid .navbar-brand span {
    color: #1365cf;
    font-style: italic;
    font-size: 32px;
    font-weight:800;
}
/* Navbar-end */

/* Home */
#home {
    background: linear-gradient(to right, #093058, #2d537c);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#home .container {
    margin: 100px;
}

#home p{
    color: white;
}
#home h5{
    color: white;
}


#home .btn-shop-now {
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: #1365cf;
    color: white;
    padding: 13px 30px ;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 20px;
}

#home .btn-shop-now:hover {
    background-color: #1458b1
}

#home .imageHome {
    margin-right: 100px;
    position: relative;
    right: 4vh;
    height: 65vh;
    transition: 0.5s ease;
}

#home .blob {
    height: 93vh;
    transition: 0.5s ease;
    position: absolute; 
    right: 1vh;
    z-index: 0;
}
/* Home-end */

/* Brand */
#brand {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom:40px;
}

#brand .brand1, .brand2, .brand3, .brand4{
    width: 250px;
    height: 250px;
}

/* Brand-end */

/* Featured */
#featured p, h3, h4, h5 {
    color: #000;
}

#featured .btn-buy {
    font-size: 0.8rem;
    font-weight: 900;
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: 13px 30px ;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 20px;
}

#featured .btn-buy:hover {
    background-color: #414141;
}

#featured hr {
    background-color: black;
    display: flex;
    height: 5px;
    width: 100px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    margin: auto;
}

.img-fluid {
    width: 350px;
    height: 350px;
}

    /* product */
    .product {
        cursor: pointer;
        margin-bottom: 2rem;
    }

    .product img {
        transition: 0.3s all;
    }

    .product:hover img {
        opacity: 0.7;
    }
    /* product-end */
/* Featured-end */

/* Banner */
    #banner {
        background-image: url('https://img.freepik.com/premium-photo/vaping-device-ecigarette-banner-blue-pink-light-background_638202-27.jpg?w=996');
        width: 100%;
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    #banner h4 {
        color: white;
    }

    #banner .btn-buy {
        font-size: 0.8rem;
        font-weight: 900;
        outline: none;
        border: none;
        background-color: black;
        color: white;
        padding: 13px 30px ;
        text-transform: uppercase;
        cursor: pointer;
        transition: 0.5s ease;
        border-radius: 20px;
    }
    
    #banner .btn-buy:hover {
        background-color: #414141;
    }
/* Banner-end */

/* Footer */
footer {
    background-color: #ebebeb;
    color: #fff;
    padding: 20px ;
  }
  
 footer .container {
    align-items: center;
    width: 80%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
  }

  footer .foot-left{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  footer .foot-right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  footer h5 {
    margin-left: 10px;
    margin-right: 10px;
  }
  
  
 
/* Footer-end */

/* Responsive */
@media only screen and (max-width:990px){ 

    /* Navbar */
    .navbar-toggler {
        margin-right: 20px;
    }

    .navbar-brand{
        margin-left: 20px;
    }

    .nav-buttons{
        margin: 10px;
    }

    .nav-buttons ul {
        margin: 1rem;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: left;
    }

    /* .nav-buttons ul .fas{
        margin: 20px 5px 10px 20px;
    } */

    .btn-login-signup {
        margin-right: 0px;
        display: flex;
        flex-direction: column;
    }
    /* Navbar-end */

    /* Home */
    /* Home-end */
}

/* @media only screen and (max-width:1280px){
    
    .navbar-brand{
        margin-left: 100px;
    }

    .nav-buttons {
        margin-left: 37%;
    }


 } */